/* external style sheet */
/* Name: UNREALWIKI ORIGINAL : CHILLED BLUE */
/* revamped for Gen2 system */
/* ########################################################*/
/* TWEAKS to template styles */
body.default h1.pagetitle {
	border-bottom:#cde solid 1px;
	}
body.default .bar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
}
/* SECTIONS */
#content {
	background: #CFE7FF;
	background: #eFf7FF;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.3;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:1em;
	}

div.RC, div.pagelist {
	/* recent changes */
}
hr.footer {
	margin:10px;
	padding:0px;
	height:2px;
	border-width:1pt;
}
div.edit {
	/* edit pages */
}
/* ########################################################*/
/* HEADINGS */
/* common to H* */
H2, H3, H4, H5  {
	margin: 1em 0em 0em ;
	padding: 0.125em;
	padding-left: 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration:none;
	}
H2+H3, H2+H4, H3+H4  { 
	/* grouped headings */
	margin-top: 0em; 
	}
H2 {
	font-size:13pt;
	color:#080;
	color:#40a;
	border-bottom:#cde solid 1px;
	}
H3 {
	font-size:11pt;
	color:#00aa00;
	}
H4 {
	font-size:10pt;
	color:#0044aa;
	}
hr {
	padding:0px;
	width:80%;
	background-color: #909;
	color:#909; /* IE 5 */
	height:2px;
}
td+h1, td+h2, td+h3, td+h4, td+h5, td+h6 {
	margin-top: 0px;
}

/* ########################################################*/
/* TEXT */
#content p {
	margin-top:0px;
	margin-bottom:8px;
	}	
td {
	font-size:9pt;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom-width:0pt;
	margin-bottom:0pt;
	}
code {
	font-family: 'Courier New',Courier, monospace;
	color:#000000;
	}
pre {
	font-family:'Courier New',Courier, monospace;
	font-size:9pt;
	color:#000000;
	}	
/*********************************************************/
/* Character emphasis                                    */
em.em1 { font-style: italic; font-weight: normal; color: #000000 }
em.em2 { font-style: normal; font-weight: bold;   color: #000000 }
em.em3 { font-style: normal; font-weight: bold;   color: #880000 }

/* ########################################################*/
/* LISTS */
ul, ol {
	margin-top:0px;
	margin-bottom:6px;
	}
ol {
	margin-left:10px;
	list-style-type:decimal;
	padding-left:2em;
	font-style:normal;
	list-style-type:decimal;
	list-style-position:outside;
	}
dl {
	margin-left:20px;
	font-size:9pt;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
	}
dl dt {
	display: compact ; /* experimental */	
	padding:0px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#400;
	}
dl dd {
	margin-top:1px;
	margin-left:60px;
	margin-bottom:10px;
}
/* ########################################################*/
/* LINKS */
div.wiki  a {
	text-decoration:underline;
	color:#00f;
}
div.wiki a:link {
}
div.wiki  a:visited {	color:#00a;}
div.wiki  a:hover {		color:#d00;}
div.wiki a:active {	color:#808;}
h2 a, h3 a, h4 a, h5 a {
	font-weight:bold;
}

/* ########################################################*/
/* BLOCKS */
blockquote {
	background-color: #def;
	border-color:#888;
	border-style:inset;
	border-width:1px;
}
blockquote > h2:firstchild {
	/* this doesnt work */
	border: solid 1px #000;
}
/* ########################################################*/
/* IMAGES */
/* tables common */
table.image-block,   table.image-left,   table.image-right { 
	padding:0px;
	border-collapse: collapse ;
	border:solid 1px black;
	border:none;
	}
table.image-block { margin-top:10px; margin-bottom:10px; }
table.image-left {
	margin-bottom: 20px;
	margin-right: 20px; 
	}
table.image-right { 
	margin-left:  20px; 
	margin-bottom: 20px 
	}
/* cells */	
table.image-block td,   table.image-left td,   table.image-right.td   { 
	padding:8px;
	background-color:#cde;
	background-color:red;
	}
/* image */	
table.image-block img, table.image-left img, table.image-right.img { 
	margin: 0px; 
	margin-bottom: 10px; 
	border:none;
	}
/* paragraph */	
table.image-block p,   table.image-left p,   table.image-right.p   { 
	margin: 0px; 
	margin-bottom: 20px; 
	text-align: center 
	}


.floatimages { margin: 16px -20px }

.floatimages-left  { padding-left:  20px }
.floatimages-right { padding-right: 20px }
.floatimages-text  { padding: 0px 20px }

.floatimages-left  div,
.floatimages-right div,
.floatimages-block div {
  padding: 8px;
  margin-bottom: 16px;
  background: #cde;
  }

.floatimages-left  p,
.floatimages-right p,
.floatimages-block p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  }


/*********************************************************/
/* Paragraph indention                                   */

p.indent1 { margin-left: 1cm }
p.indent2 { margin-left: 2cm }
p.indent3 { margin-left: 3cm }
p.indent4 { margin-left: 4cm }
p.indent5 { margin-left: 5cm }
p.indent6 { margin-left: 6cm }


/*********************************************************/
/* Zip files                                             */
span.zip {
	/*
	display: block;
	*/
  /* Disabled (Mychaeel)
  width: 200px;
  margin: 10px auto 20px 10px;
  padding: 16px;
  background: #eee;
  border: 1px inset #888;
  */
}
div.zip {
	display:block;
	width:200px;
	margin:10px auto 20px 10px;
	padding:10px;
	border-width:0px 0px 0px 5px;
	border-style:double;
	border-color:#008;
	font-weight:bold;
	}

/*********************************************************/
/* UnrealScript                                          */
div.classpath, div.class {
  margin: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  background-color: #fff0d0;
  border-color: #008;
  border-style: solid;
  border-width: 1px;
  padding: 6pt;
}
div.classpath a , div.class a {
  font-weight:bold;
}
pre.uscript {
	margin:20px 5px;
	padding:6px;
  border: 1px inset #888;
  background: #eee;
  font-family: 'Courier New', Courier, monospace;
  font-size: 9pt;
}

span.uscript-line     { color: #909090 }
span.uscript-comment  { color: #009000 }
span.uscript-string   { color: #009000 }
span.uscript-name     { color: #009090 }
span.uscript-exec     { color: #606060 }
span.uscript-number   { color: #000000 }
span.uscript-operator { color: #606060 }
span.uscript-type     { color: #009090 }
span.uscript-keyword  { color: #009090 }

/*********************************************************/
/* Tables */
/* without border */
.paratable {
  margin-top: 20px;
  margin-bottom: 20px;
  }
.paratable td {
  padding-right: 20px;
  padding-bottom: 10px;
  }
/* with border */
.paratable-border {
  margin-top: 20px;
  empty-cells: show;
  border-collapse: separate;
  margin-bottom: 20px;
  /* arg @ IE
  border-spacing: 2px ;
  */
  }
.paratable-border td {
  padding: 4px;
	background: #eee;
	background: #EaF2FF;
 
  border:none;
  /* arg @ IE */
  border: solid 1px #CFE7FF;
  }


/*********************************************************/
/* Diffs (colours only) */
.diff-para-ident   { background: #ccddee }
.diff-para-changed { background: #ccddee }
.diff-para-added , .diff-span-added     { background: #a2d9c7 }
.diff-para-deleted , .diff-span-deleted { background: #c7b9cc }

