body { margin: 0px; padding: 0px; }
/* special text */
h1.pagetitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.25em;
	margin:0em;
	padding:0em;
	margin-bottom:0.25em;
	font-size:1.75em;
	}
h1.pagetitle a {
	text-decoration:none;
	color:#609;
	}
h1.pagetitle a:hover {
	color:#f04;
	}
/* set colour for: top bar links; quickbar links; QuickNav text */	
#topbar span , #topbar a , #quickbar a {
	color:#00a;
	text-decoration:none;
	}
#topbar span:hover , #topbar a:hover , #quickbar a:hover {
	color:#c08;
	text-decoration:underline;
	}
/* ******************************************* structural */
#scrolling {
	/* container div for all scrolling content 
	-- that is, everything except the sidebar 
	this is just to set the left margin (= quickbar width) in only one place */
	margin-left: 9em; /* !! QB WIDTH */
}

/* ======================== HEADER BAR */
div.bar {
	/* sets colour for both header and footer */
	background:#eee;
	padding: 0.5em;
	}
#topbar {
	padding-top:0.25em;
	min-height:18px;
	}
#topbar div.lefthalf {
	text-align:left;
	}
#topbar div.righthalf {
	float:right;
	}
#topbar form.inline { display: inline; padding:1px;
	}
	
/* ======================== FOOTER */
#footer {
	text-align:center;
	}
 
/* ======================== CONTENT */
#content {
	padding: 0.5em;
	}
/* ======================== SIDEBAR */
#quickbar {
	width: 9em; /* !! QB WIDTH */
	top: 0px;	left: 0px;	
	height:100%;
	padding: 0em;
	overflow:hidden;
	background:#CFE7FF;
	}
/* hack zone for position:fixed */
#quickbar {
	position: absolute; /* all */
	position/* */:/**/fixed;
	position: /**/fixed;
	}
#quickbar p {
	margin: 0em;
	padding:0em;
	}
#logo {
	position:relative;
	margin:0px;
	padding:0px;
	width:143px;
	margin-top: 5px;
	margin-bottom: 5px;
	}
/* hack zone for logo centering */
#logo {
	/* these break Opera 6 */
	left: 50%;
	margin-left: -72px;
	}
/* be nice to Opera... um, maybe not. */
html>body #logo {
	left: 0px;
	margin-left: 0px;
	}
/* the Owen hack -- http://www.albin.net/CSS/OwenHack.html */
head:first-child+body #logo {
	left: 50%;
	margin-left: -72px;
}
	
#quickbar div.qbsitename {
	text-align:center;
	line-height:1em;
	padding-bottom:0.5em;
	}
#quickbar div.qbsitename h1 {
	margin: 0em;
	padding:0em;
	font-size:1.125em;
	font-weight:bold;
	color:#800;
	}
#quickbar div.qbsitename p {
	font-size:0.85em;
	line-height:1em;
	color:#c03;
	}
#quickbar div.qbsection {
	margin: 0em;
	padding: 0.5em;
	border-top: 1px solid #fff;
	font-size:0.9em;
	}



